<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <p>ViewBag -> @ViewBag.Salam</p>
    <p>TempData -> @TempData["Salam"]</p>
    
</body>
</html>
